
<div>
    <div id="home" class="row align-items-center hero">
      <div>
        <h1 class="titulo-pasteleria">Pastelería Artesanal</h1>
        <p class="pasteleria">
          Productos personalizados, elaborados artesanalmente y de forma
          casera sin conservantes ni aditivos, hechos a mano y decorados uno
          por uno con mucho amor.
        </p>
      </div>
    </div>
  </div>

    <section class="contenedor-1">
    
      <div id="productos" class="titulo">
        <h2>Nuestros Productos</h2>
        <p>Productos de primera calidad y sabor único en nuestra tienda online.</p>
      </div>
       
        <div class="fotos-productos">
          <div class="productos-img">
            <img src="images/macarons.webp" alt="">
            <h3>Macarons</h3>
            <p> Crocantes por fuera y súper cremosos por dentro</p>
          </div>
          <div class="productos-img">
            <img src="images/torta.webp" alt="">
           <h3>Tortas</h3>
            <p>Endulza tus momentos</p>
          </div>

          <div class="productos-img">
            <img src="images/minitarta.webp" alt="">
           <h3>Mini tartas</h3>
            <p> Con distintos colores y rellenos.</p>
          </div>
          
        </div>
    </section>

    <div class="row my-3">
      <div id="recetas" class="col-md-5 offset-md-2 scroll_section">
      <h3 class="section-2-title">Recetas y Tips</h3>
      <ul class="galery">
        {{#each novedades}}
        <li class="galery-content">
          <a href="#" data-bs-toggle="modal" data-bs-target="#Modal{{id}}"><img src="images/galeria1.webp" alt="">{{titulo}}</a>  
        </li>
        {{/each}}

      </ul>
      </div>
    


   {{#each novedades}}         <!-- Modal -->
<div class="modal fade" id="Modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="Modal">{{titulo}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{subtitulo}}</p>
        <p>{{cuerpo}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{/each}}
</div>




        

     
    
    
  
 

